.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Animação do background */
.gradient {
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background: url(/src/imagens/BBQ.gif); */
    background: #333234;
}

.container h1, p{
    text-align: center;
}

#convidados_qnt{
    font-size: 30px;
    color: rgb(201, 198, 59);
}


.container h1{
    font-family:'sans-serif';
    color: rgb(226, 216, 72);
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 22px 30px rgba(0,0,0,0.9), 38px -37px 2px rgba(206,89,55,0);
}

.container p{
    font-family: 'sans-serif';
    color: rgb(201, 198, 59);
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 22px 30px rgba(0,0,0,0.9), 38px -37px 2px rgba(206,89,55,0);
}

/*Tabela*/

.tabela{
    font-family: 'sans-serif';
    display: flex;
    justify-content: center;
}

table{
    background: #1a6a70d5;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px ;
}

thead th{
    font-size: 20px;
    color: rgb(217, 224, 188);
    border-bottom: 3px solid rgb(145, 173, 19);
    padding: 10px;
    text-align: left;
}

thead th:first-child {
    width: 70%;
}

thead th:last-child {
    width: 30%;
}

tbody td{
    font-size: 20px;
    color: rgb(217, 224, 188);
    padding: 15px;
    border-bottom-style: dashed;
}

#botao-confirmar {
    position: relative;
    transform: translateX(120%);
    background-color: #da22ac;
    color: rgb(219, 231, 106); 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: .2s;
}